@use '../config/variables.scss';
@use '../config/mixins.scss';

.primary-button {
    @include mixins.poke-border(variables.$c-red);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    min-width: 220px;
    padding: 8px 16px;
    margin: 16px auto;
    border-radius: 0;
    outline: none;
    font-family: inherit;
    font-size: 18px;
    background: variables.$c-white;
    color: variables.$c-black;
    cursor: pointer;
    transition: background 0.2s ease;

    &:hover,
    &:focus,
    &:focus-visible {
        background-color: variables.$c-red;
        color: variables.$c-white;
    }

    &.go-back {
        margin: 16px 0;
        min-width: 100px;
        font-size: 24px;
    }
}
